@import "tailwindcss";

.clip-diagonal {
  clip-path: polygon(0 0, 92% 0, 82% 100%, 0% 100%);
}

.bg-search {
  background-image: url("/HomepageBG_CommentBG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="date"]::-webkit-datetime-edit {

color: transparent;

}

input[type="date"]:focus::-webkit-datetime-edit {

color: black;

}