@import "tailwindcss";

@layer components {
  .bg_clip{
    clip-path: polygon(0 0, 100% 0, 80% 61%, 0 61%);
  }
}

.bg-search {
  background-image: url("/HomepageBG_CommentBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

input[type="date"]::-webkit-datetime-edit {

color: transparent;

}

input[type="date"]:focus::-webkit-datetime-edit {

color: black;

}