name: Notify Discord

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Discord message
        run: |
          echo "Webhook length: ${#DISCORD_WEBHOOK}"
          curl -X POST \
          -H "Content-Type: application/json" \
          -d '{"content":"Test message from GitHub Actions"}' \
          "$DISCORD_WEBHOOK"
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
